h1,h2,h3,h4,h5,h6{
    font-size: 1.5rem;
}

.highlight pre{
    padding: 15px 5px;
}

.gitlab-embed-snippets,
.gist,
.s_video_simple,
.video-wrapper {
    margin:0 0 20px 0 !important;
}

.rounded-lg, .post-slider {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

article a {
    border-bottom: 1px dotted #ddd;
}

.post-title {
    border-bottom: 0 !important;
}

code{
    color: #A91459;
}

.article-content a {
    color: #ce8460 !important;
}

.article-content a:after {
    color: #ce8460;
    content: "\e62d";
    font-family:themify;
    margin-left: 5px;
    font-size: 10px;
}