{{ define "main" }}
{{ $isFirstArticle := "eager" }}
<section class="section">
	<div class="container">
		<div class="columns is-desktop is-multiline">
			<div class="column is-9-desktop">
                {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
                {{ range $paginator.Pages }}
                {{ partial "article-home.html" (dict "context" . "isFirstArticle" $isFirstArticle) }}
                {{ $isFirstArticle = "lazy" }}
                {{ end }}
            </div>
            <aside class="column is-3-desktop">
                {{ partial "sidebar.html" . }}
            </aside>
        </div>
    </div>
</section>
{{ end }}