{{ define "main" }}
{{ $isFirstArticle := "eager" }}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mb-5 mb-lg-0 pr-lg-4">
                {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts") }}
                {{ range $paginator.Pages }}
                {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                {{ $dateHuman := .Date | time.Format ":date_long" }}
                
                <article class="card row mb-5" style="border-radius: 10px;">
                    {{ if .Params.Image }}
                    <div class="col-12 p-0">
                        <div class="post-slider m-0">
                            <img loading="{{ $isFirstArticle }}" src="{{ .RelPermalink }}{{ .Params.Image }}" class="img-fluid w-100"
                                alt="Image of {{ .Title }}" style="height:330px; object-fit: cover;">
                        </div>
                    </div>
                    {{ end }}
                    <div class="col-12 mx-auto">
                        <h2 class="h3 mt-3"><a class="post-title" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                        <ul class="list-inline post-meta mb-4">
                            <li class="list-inline-item"><i class="ti-user mr-2"></i>{{ .Site.Params.Author.Name }}</li>
                            <li class="list-inline-item">Date : <time class="published" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></li>
                            <li class="list-inline-item">Categories :
                                {{ range .Params.categories }}
                                <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="ml-1">
                                    {{ . }}
                                </a>
                                {{ end }}
                            </li>
                            <li class="list-inline-item">Tags : 
                                {{ range .Params.tags }}
                                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="ml-1">
                                    {{ . }}
                                </a>
                                {{ end }}
                            </li>
                        </ul>
                        {{/*  <p>{{ .Summary }}</p>   */}}
                        <div class="article-content">
                            {{ .Content | replaceRE "<table>" "<div class='table-responsive'><table class='table'>" | replaceRE "</table>" "</table></div>" | safeHTML }}
                        </div>
                    </div>
                </article>
                {{ $isFirstArticle = "lazy" }}
                {{ end }}
            </div>
            <aside class="col-lg-3">
                {{ partial "sidebar.html" . }}
            </aside>
        </div>
    </div>
</section>
{{ end }}