{{ define "main" }}
<section class="section">
    <div class="container">
        <div class="columns is-desktop is-multiline">
            <main class="column is-8-desktop">
                {{ $paginator := .Paginate (cond .IsHome (where site.RegularPages "Type" "in" site.Params.mainSections)
                (.Data.Pages) ) }}
                {{ range $paginator.Pages }}
                {{- partial "article-summary.html" . -}}
                {{ end }}

                <!-- Pagination -->
                    {{ if .Paginator.HasPrev }}
                    <a href="{{ .Paginator.Prev.URL }}" class="btn btn-outline-primary">Previous Page</a>
                    {{ else }}
                    <a href="#" class="disabled btn btn-outline-primary">Previous Page</a>
                    {{ end }}
                    {{ if .Paginator.HasNext }}
                    <a href="{{ .Paginator.Next.URL }}" class="btn btn-outline-primary">Next Page</a>
                    {{ else }}
                    <a href="#" class="disabled btn btn-outline-primary">Next Page</a>
                    {{ end }}
            </main>
            <aside class="column is-4-desktop">
                {{- partial "sidebar.html" . -}}
            </aside>
        </div>
    </div>
</section>
{{ end }}