{{ define "main" }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}
<section class="section">
	<div class="container">
		<article class="row mb-4">
			<div class="col-lg-10 mx-auto mb-4">
				<h1 class="h2 mb-3">{{ .Title }}</h1>
				<ul class="list-inline post-meta mb-3">
					<li class="list-inline-item"><i class="ti-user mr-2"></i>{{ .Site.Params.Author.Name }}</li>
					<li class="list-inline-item">Date : <time class="published" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time></li>
					<li class="list-inline-item">Categories :
						{{ range .Params.categories }}
						<a href="{{ " /categories/" | relLangURL }}{{ . | urlize }}" class="ml-1">
							{{ . }}
						</a>
						{{ end }}
					</li>
					<li class="list-inline-item">Tags :
						{{ range .Params.tags }}
						<a href="{{ " /tags/" | relLangURL }}{{ . | urlize }}" class="ml-1">
							{{ . }}
						</a>
						{{ end }}
					</li>
				</ul>
			</div>
			<div class="col-12 mb-3">
				<div class="post-slider">
					<img src="{{ .RelPermalink }}{{ .Params.Image }}" class="img-fluid" alt="Image of {{ .Title }}" style="height:330px; object-fit: cover;">
				</div>
			</div>
			<div class="col-lg-10 mx-auto">
				<div class="content">
					{{ .Content }}
				</div>
			</div>
			<div class="col-lg-10 mx-auto">
				{{ partial "disqus.html" . }}
			</div>
		</article>
	</div>
</section>
{{ end }}