<article class="columns is-multiline is-justify-content-center mb-6">
    <div class="column is-12">
        <div class="post-slider">
            {{ $pageScope := . }}
            {{ range $index, $image := .Params.featureImage }}
                <img loading="lazy" src="{{ $image }}" class="" alt="Featured image {{ $index }} of {{ $pageScope.Title }}">
            {{ end }}
        </div>
    </div>
    <div class="column is-12">
        <h1><a class="post-title h3" href="{{ .Permalink }}">{{ .Title }}</a></h1>
        {{- partial "article-meta.html" . -}}
        <p>
            {{ .Summary }}
        </p>
        <a href="{{ .Permalink }}" class="btn btn-outline-primary">Continue reading this article</a>
    </div>
</article>