<article class="columns is-multiline is-justify-content-center mb-6">
    <div class="column is-12">
        <div class="post-slider">
            {{ range .Params.featureImage }}
                <img loading="lazy" src="{{ . }}" class="" alt="post-thumb">
            {{ end }}
        </div>
    </div>
    <div class="column is-12">
        <h3><a class="post-title" href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{- partial "article-meta.html" . -}}
        <p>
            {{ .Summary }}
        </p>
        <a href="{{ .Permalink }}" class="btn btn-outline-primary">Continue Reading</a>
    </div>
</article>