<footer class="section-sm pb-0 border-top border-default">
    <div class="container">
        <div class="columns is-multiline is-justify-content-space-between">
            <div class="column is-3-desktop">
                <a class="mb-5 is-block" href="/index.html">
                    <img class="" width="150px" src="/images/logo.png" alt="{{ .Site.Title }}">
                </a>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua.</p>
            </div>
            {{ $currentPage := . }}
            {{ range .Site.Menus.footer }}
            {{ if .HasChildren }}
            <div class="column is-2-widescreen is-3-desktop is-6">
                <h6 class="mb-4">{{ .Name }}</h6>
                <ul class="list-unstyled footer-list">
                    {{ range .Children }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}
            {{ end }}


            <div class="column is-2-widescreen is-3-desktop is-6">
                <h6 class="mb-4">Social Links</h6>
                <ul class="list-unstyled footer-list">
                    {{ with .Site.Social.Facebook -}}
                    <li><a href="https://facebook.com/{{ . }}">Facebook</a></li>
                    {{ end -}}
                    {{ with .Site.Social.twitter -}}
                    <li><a href="https://twitter.com/{{ . }}">Twitter</a></li>
                    {{ end -}}
                    {{ with .Site.Social.instagram -}}
                    <li><a href="https://instagram.com/{{ . }}">Instagram</a></li>
                    {{ end -}}
                    {{ with .Site.Social.linkedin -}}
                    <li><a href="https://www.linkedin.com/in/{{ . }}/">Linkedin</a></li>
                    {{ end -}}
                    <li><a href='{{ " index.xml" | absURL }}'>RSS</a></li>
                </ul>
            </div>


        </div>
        <div class="scroll-top">
            <a href="javascript:void(0);" id="scrollTop"><i class="ti-angle-up"></i></a>
        </div>
        <div class="has-text-centered">
            <p class="content">&copy; 2020 - Design &amp; Develop By <a href="https://themefisher.com/"
                    target="_blank">Themefisher</a></p>
        </div>
    </div>
</footer>