<footer class="section-sm pb-0 border-top border-default">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-3 mb-4">
                <a class="mb-4 d-block" href="/">
                    <h1 class="navbar-brand mb-0 h4">{{ .Site.Title }}</h1>
                </a>
                <p>{{ .Site.Params.Description}}</p>
            </div>
            <div class="col-md-3 mb-4">
                
            </div>
            <div class="col-lg-2 col-md-3 col-6 mb-4">
                <h6 class="mb-4">Quick Links</h6>
                {{ partial "menu-footer.html" (dict "menuID" "footer1" "page" .) }}
            </div>

            <div class="col-lg-2 col-md-3 col-6 mb-4">
                <h6 class="mb-4">Social Links</h6>
                <ul class="list-unstyled footer-list">
                    {{ with .Site.Social.twitter -}}
                    <li><a href="https://twitter.com/{{ . }}">Twitter</a></li>
                    {{ end -}}
                    {{ with .Site.Social.facebook }}
                    <li><a href="https://www.facebook.com/{{ . }}">Facebook</a></li>
                    {{ end }}
                    {{ with .Site.Social.instagram -}}
                    <li><a href="https://instagram.com/{{ . }}">Instagram</a></li>
                    {{ end -}}
                    {{ with .Site.Social.linkedin -}}
                    <li><a href="https://www.linkedin.com/in/{{ . }}/">LinkedIn</a></li>
                    {{ end -}}
                    <li><a href="{{ "index.xml" | absURL }}">RSS</a></li>
                </ul>
            </div>

            
        </div>
        <div class="scroll-top">
            <a href="javascript:void(0);" id="scrollTop"><i class="ti-angle-up"></i></a>
        </div>
        <div class="text-center">
            <p class="content">{{ .Site.Copyright }}</p>
        </div>
    </div>
</footer>