<header class="is-sticky-top bg-white border-bottom border-default">
    <div class="container">
 
       <nav class="navigation navbar is-white">
          <a class="navbar-brand is-inline-flex ml-0 is-align-items-center" href="/">
             <img src="/images/logo.png" alt="logo">
          </a>
          <button role="button" aria-label="navigation" class="navbar-burger burger" data-hidden="true" data-target="navigation">
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
             <span aria-hidden="true"></span>
          </button>
 
          <ul class="navbar-end navbar-menu" id="navigation">
             {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
             {{ partial "search.html" .}}
 
             
          </ul>
       </nav>
    </div>
 </header>

 {{/*  {{ partial "menu.html" (dict "menuID" "main" "page" .) }}  */}}
