{{- /*
Renders a menu for the given menu ID.

@context {page} page The current page.
@context {string} menuID The menu ID.

@example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
*/}}

{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}

<ul class="navbar-nav ml-auto">
  {{ range . }}
    {{ if .HasChildren }}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbar-{{ .Title }}" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        {{ .Title }}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbar-{{ .Title }}">
        {{ range .Children }}
            <a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
      </div>
    </li>
    {{ else }}
    <li class="nav-item">
      <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }}
  {{ end }}
</ul>
{{- end }}