<li class="navbar-item">
    <button id="searchOpen" class="search-btn"><i class="ti-search"></i></button>
 </li>

 <!-- search -->
 <div class="search">
    <div class="search-wrapper">
       <form id="search" method="get" action="/search" class="h-100">
          <input class="search-box pl-4" id="search-query" name="q" type="search" placeholder="Type &amp; Hit Enter...">
       </form>
       <button id="searchClose" class="search-close"><i class="ti-close text-dark"></i></button>
    </div>
 </div>