<!-- Search -->
<!--
<div class="widget">
    <h5 class="widget-title"><span>Search</span></h5>
    <form action="javascript:void(0)" class="widget-search">
        <input id="search-query2" name="s" type="search" placeholder="Type &amp; Hit Enter...">
        <button type="submit"><i class="ti-search"></i>
        </button>
    </form>
</div>
-->
{{ range $key, $value := .Site.Taxonomies }}
<nav class="widget">
    <h5 class="widget-title"><span>{{ $key }}</span></h5>
    <ul class="list-unstyled widget-list">
        {{ range first 10 $value.ByCount }}
        <li><a href='{{ $.Site.BaseURL}}{{ $key }}/{{ (replace .Name "#" "%23") | urlize }}/' class="is-flex">{{ .Name }}
                <small class="ml-auto">({{ .Count }})</small></a>
        </li>
        {{ end }}
    </ul>
</nav>
{{ end }}
<!-- latest post -->
<nav class="widget">
    <h5 class="widget-title"><span>Featured Articles</span></h5>
    <!-- post-item -->
    {{ range first 3 .Site.Taxonomies.tags.featured }}
    <ul class="list-unstyled widget-list">
        <li class="media widget-post is-align-items-center">
            <a href="{{ .Permalink }}">
                <img loading="lazy" src="{{ index (.Params.featureImage) 0 }}" alt="Featured image of {{ .Title }}">
            </a>
            <div class="ml-4">
                <h5 class="h6 mb-0"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                <small>{{ .PublishDate.Format "January 2, 2006" }}</small>
            </div>
        </li>
    </ul>
    {{ end }}
</nav>